.modal-add-good {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    z-index: 2;

    i {
        font-size: 144px;
    }

    p {
        margin-top: 20px;
        font-size: 36px;
        font-weight: 800;
    }
}