<div class="main">
    <header class="header">
        <h1 class="header-title">Shoppy</h1>
        <search></search>
    </header>
    <div class="main-catalog">
        <card *ngFor="let card of cardsService.goods.default | searchGoods: cardsService.searchString" 
              [good]="card" 
              class="card">
        </card>
    </div>
    <div class="cart-icon" (click)="walletService.toggleCart()">
        <i class="material-icons">shopping_cart</i>
        <span class="cart-icon-count">{{ walletService.wallet.length }}</span>
    </div>
    <wallet></wallet>
</div>

<add-good *ngIf="walletService.showModalAddGood"></add-good>