.search-block {
    position: relative;
    width: 20%;
    margin-left: auto;

    .input-search {
        width: 100%;
        padding: 10px;
        padding-left: 30px;
        font-size: 20px;
        border: none;
        border-bottom: 2px solid #a5a5a5;
        transition: all .2s ease;
    
        &:focus {
            border-bottom-color: #000;
        }
    }

    i {
        position: absolute;
        top: 25%;
        left: 0;
        color: rgba(0, 0, 0, .6);
    }
}